.contact {
  width: 70%;
  background-color: #fff;
  padding: 30px 20px;
}
.contact-form {
  margin-top: 20px;
  color: rgb(80, 80, 80);
  font-family: Arial, Helvetica, sans-serif;
}
.contact-form li {
  padding: 10px;
}
.contact-form input,
textarea {
  display: block;
  width: 100%;
  margin-top: 7px;
  border: 1px solid #ddd;
}
.contact-form input {
  height: 35px;
  padding: 0 10px;
  font-size: 14px;
  box-sizing: border-box;
}
